@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

.hero{
    display: flex;
    flex-direction: column;
    font-family: 'Outfit';
    width: fit-content;
    height: fit-content;
    margin: 0vw auto 5vw auto;
}

.hero svg{
    width: 3vw;
    height: 3vw;
    margin: 2vw auto 2vw auto;
}

.hero p{
    font-size: 1.8vw;
    font-weight: 600;
    margin: 0vw auto 2vw auto;
}

form{
    display: flex;
    flex-direction: column;
}

label{
    margin: 1vw 0vw 0.5vw 2vw;
    font-size: 1vw;
}

input{
    margin: 0vw 2vw 0.5vw 2vw;
    width: 24vw;
    height: 2.5vw;
    border: 2px solid rgb(213, 213, 213);
    border-radius: 10px;
    padding-left: 1vw;
}

button{
    border: none;
    width: 25vw;
    margin: 2vw 2vw 2vw 2vw;
    cursor: pointer;
    height: 2.5vw;
    border-radius: 10px;
    color: white;
    background-color: #ff3d3d;
    font-weight: 700;
    font-size: 1vw;
}

button:hover{
    background-color: #fc5151;
}

a{
    display: flex;
    flex-direction: row;
    font-size: 1.1vw;
    text-decoration: none;
    margin: 0vw auto 0vw  auto;
    letter-spacing: 1px;
    color: rgb(86, 174, 255);
}

.hero a p{
    font-size: 1.1vw;
    margin: 0vw 0vw 0vw 0vw;
    text-decoration: none;
    color: #929292;
    margin-right: 0.3vw;
}

.back{
    position: relative;
    left: -45vw;
}

.hero .error{
    color: red;
    font-size: 0.8vw;
    font-weight: 400;
    font-style: italic;
    margin-left: 2vw;
    margin-top: 0vw;
    margin-bottom: 0vw;
}

#eye{
    margin: -4.75vw 0vw 0vw 24vw;
    width: fit-content;
    height: fit-content;

}

#eye svg{
    width: 1.5vw;
    height: 1.5vw;
    cursor: pointer;
}

.success{
    /* display: flex; */
    display: none;
    flex-direction: column;
    margin: 0vw auto 0vw auto;
    position: absolute;
    width: 40vw;
    font-family: 'Outfit';
    font-size: 1vw;
    border-radius: 30px;
    box-shadow: 0px 0px 20px #affbc6;
    background-color: white;
    left: 30vw;
    top: 10vw;
}


.success svg{
    width: 7vw;
    height: 7vw;
    margin: 3vw auto 2vw auto;
}

.success p{
    width: 20vw;
    text-align: center;
    margin: 1vw auto 1vw auto;   
    font-size: 1.3vw;
    color: rgb(134, 134, 134);
    font-weight: 600;
}

.success .successMessage{
    font-size: 1.6vw;
    font-weight: 600;
    margin: 0vw auto 0vw auto;
    color: #23e15c;
}

.success button{
    margin: 3vw auto 3vw auto;
    background-color: #affdc6;
    color: black;
    font-family: Outfit;
    font-weight: 400;
}
